[access]
	inheritFrom = Public-Plugins
[project]
	state = active
	description = Small example plug-in demoing extension points for manipulating approvals.
[access "refs/*"]
	owner = group plugins-helloworld
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	mergeContent = true
